
@page "/Test"
@using ProjectManagement.Models.ProjectModel
@attribute [TabItemOption(Text = "Test")]

@inject ToastService Tost

<PageTitle>Test</PageTitle>
<h3>TestPage</h3>
<Button @onclick="@info">Info</Button>
<Button @onclick="@Success">Success</Button>

<Button @onclick="@warning">warning</Button>

<Button @onclick="@Danger">Error</Button>


<button class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#AddTask">
    Add New Task
</button>
<div class="modal fade fade-in-modal" id="AddTask" tabindex="-1" role="dialog" aria-labelledby="actionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center">Add New Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="taskName" class="form-label">Task Name</label>
                    <input type="text" class="form-control" id="taskName" @bind="newProject.Name" placeholder="Enter task name">
                </div>

                <button type="button" data-bs-dismiss="modal" class="btn btn-primary" @onclick="AddNewTask">ADD</button>
            </div>
        </div>
    </div>
</div>

@code {
    public void info()
    {
        Tost.Information("This is Titel", "This is Contest", true);
    }
    public void Success()
    {
        Tost.Success("This is Titel", "This is Contest", true);
    }
    public void warning()
    {
        Tost.Warning("This is Titel", "This is Contest", true);
    }
    public void Danger()
    {
        Tost.Error("This is Titel", "This is Contest", true);
    }
    private ProjectCreate newProject = new ProjectCreate();
    private async void AddNewTask()
    {
        await Tost.Success("This is Titel", "This is Contest", true);
    }
}
