
@page "/Test"
@attribute [TabItemOption(Text = "Test")]

@inject ToastService Tost

<PageTitle>Test</PageTitle>
<h3>TestPage</h3>
<Button @onclick="@info">Info</Button>
<Button @onclick="@Success">Success</Button>

<Button @onclick="@warning">warning</Button>

<Button @onclick="@Danger">Error</Button>


<Modal @ref="modal" Title="Modal title">
    <BodyTemplate>
        Modal body text goes here.
    </BodyTemplate>
    <FooterTemplate>
        <Button class="btn-info" @onclick="OnHideModalClick">Close</Button>
        <Button class="btn-info">Save changes</Button>
    </FooterTemplate>
</Modal>

<Button class="btn-info" @onclick="OnShowModalClick">Show Modal</Button>

@code {
    public void info()
    {
        Tost.Information("This is Titel", "This is Contest", true);
    }
    public void Success()
    {
        Tost.Success("This is Titel", "This is Contest", true);
    }
    public void warning()
    {
        Tost.Warning("This is Titel", "This is Contest", true);
    }
    public void Danger()
    {
        Tost.Error("This is Titel", "This is Contest", true);
    }
    private Modal modal = default!;

    private async Task OnShowModalClick()
    {
        await modal.ShowAsync();
    }

    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
    }
}
